.section3 {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 50%;
}

.section3 h2 {
  font-size: 1.8rem;
  color: var(--color-1);
}

.section3 h2 span {
  color: var(--color-3);
  font-weight: 400;
  font-family: var(--font-2);
  font-size: 1.2rem;
}

.section3-content {
  display: flex;
  gap: 1rem;
}

.section3-content h2 {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--color-1);
}

.section3-content h2 span {
  color: var(--color-3);
  font-weight: 500;
  font-family: var(--font-1);
  font-size: 1.4rem;
}

.projects-navigation li {
  padding: 1rem;
  cursor: pointer;
  border-left: 2px solid #1f355a;
  transition: 0.5s;
  font-family: var(--font-2);
  font-size: 0.8rem;
}

.projects-navigation li:hover {
  background-color: #112240;
  border-left: 2px solid var(--color-3);
  color: var(--color-3);
}

.project {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
