.section6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
  gap: 15rem;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}